<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= prod.name %></title>
</head>
<body>
    <h1><%= prod.name %></h1>
    <h2>Product details: </h2>
    <h3>
        <ul>
            <li>Price: $<%= prod.price %>
            </li>
            <li>Category: <a href="/products?category=<%= prod.category%>"><%= prod.category%></a></li>
        </ul>
    </h3>
    <a href="/products/<%= prod._id %>/edit">Edit Product</a>
        <br>
    <form action="/products/<%= prod._id %>?_method=DELETE" method="POST">
        <button>Delete Product</button>
    </form>
    <br><br>
    <a href="/products">Go to all products</a>
</body>
</html>